<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true">
		<intercept-url 
		    pattern="/trafficlaw/**" 
		    access="hasRole('ROLE_ADMIN')"/>
		
		<intercept-url 
		    pattern="/trafficlaw/*/*" 
		    access="hasRole('ROLE_ADMIN')"/>
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/" 
		    login-processing-url="/j_spring_security_check" 
		    authentication-failure-url="/login?error" 
		    username-parameter="username" 
		    password-parameter="password"/>
				
		<logout invalidate-session="true"  
		    logout-url="/j_spring_security_logout" 
		    logout-success-url="/"  />
		<csrf/>
	</http>

	<authentication-manager>
		<authentication-provider>
		  <user-service>
			<user 
			    name="jimmie" 
			    password="phish" 
			    authorities="ROLE_ADMIN" />
			<user 
			    name="cliff" 
			    password="phish" 
			    authorities="ROLE_ADMIN" />
		  </user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>